__pycache__
nppBackup/

static_web_build/
e2e_tests_build/

build/

dev_scripts/tmp_long_running_dog_service_pids.txt
dev_scripts/tmp_test_server_pids.txt

node_modules/

dev_script_dependency_paths.env

venv/

dev_test_apps_dir/